<div id="header" class="box">
  <a type="button" target="_blank" class="btn btn-primary" href="https://github.com/PLGRUPO/AnalizadorLexicoJS"><i class="fa fa-github-alt"></i>  Github</a>
  <a type="button" class="btn btn-success" href="test/index.html"><i class="fa fa-check-square-o"></i>  Test</a>
</div>

<div id="content">
  <h1>Analizador léxico de un subconjunto de Javascript</h1>

  <div id="contentleft">
    <h2>Ficheros guardados</h2>
    <div class="filelist" id="fl">
      <ul>
        <li>
          Fichero1.js
        </li>
        <li>
          Fichero2.js
        </li>
      </ul>
    </div>
  </div>

  <div id="contentright">
    <h2>Entrada</h2>
    <textarea id="entrada">Contenidos por defecto</textarea>
  </div>

  <div id="buttons">
    <button type="button" id="startbutton">Parsear</button>
    <button type="button" id="savebutton">Guardar</button>
  </div>

  Por aquí debe estar la salida del parsing
</div>
