%div#content
  %h1 Analizador léxico de un subconjunto de Javascript
  %script{:type => 'text/javascript', :src => '/public/app.js'}
  %div#contentleft
    %h2 Ficheros
    %div#fl.filelist
      %ul
        - fs.each do |c|
          %li{:id => c.id, :onclick=>"replacecode('#{c.to_json(only: [:content])}')"}=  c.id
        
    %div
      %button{:class => 'btn btn-primary'} Mis Ficheros
      %button{:class => 'btn btn-primary'} Ficheros Publicos

  %div#contentright
    %h2 Entrada
    %form(action="#{action}" method="POST")
      %textarea#INPUT(name ="INPUT" value = "#{c.content}") var a = "hello";
      %button#savebutton{:type =>'submit', :class => 'btn btn-primary'} Guardar
    %button#PARSE{:class => 'btn btn-primary'}  Parsear
    

  %div 
    %p
  %div#outputdiv
    %div#outputheader  Tokens encontrados
    %pre#OUTPUT
