%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:href => "/public/css/global.css", :rel => "stylesheet", :type => "text/css" }
    %link{:href => "/public/css/metro-bootstrap.css", :rel => "stylesheet", :type => "text/css" }
    %link{:href => "/public/font-awesome-4.0.3/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css" } 
    %script{:type => 'text/javascript', :src => '/public/js/main.js'}
    %script{:type => 'text/javascript', :src => '/public/js/parse.js'}
    %script{:type => 'text/javascript', :src => '/public/js/tokens.js'}
    %script{:type => 'text/javascript', :src => '/public/js/Jquery.js'}
    %script{:type => 'text/javascript', :src => '/public/js/dragdrop.js'}
    
    %title Analizador lexico
  %body      
    %div#header.box
      %a{:type => 'button', :target => '_blank', :href => 'https://github.com/PLGRUPO/AnalizadorLexicoJS', :class => 'btn btn-primary'} 
        %i{:class => 'fa fa-github-alt'} Github
      %a{:type => 'button', :href => '/', :class => 'btn btn-primary'} 
        %i{:class => 'fa fa-home'} Home
      %a{:type => 'button', :class => 'btn btn-success', :href =>'/test'} 
        %i{:class => 'fa fa-check-square-o'}  Test
      - if !is_logged_in?
        %a{:type => 'button', :class => 'btn btn-success', :href =>'/login'} 
          %i{:class => 'fa fa-sign-in'}  Sig in
      - else
        %a{:href => "/logout"} Log Out   
      - if !@error_message.nil?
        .error== There was an error: #{@error_message}
      - if !@message.nil?
        .message== #{@message}
      
    = yield
