%h1 Login page

%form{:action => "/login", :method => "post"}
  %legend Login here (hint: use "max" as the username")
  %table
    %tr
      %td
        %label{:for => "username"} Username
      %td
        %input{:type => "text", :name => "username", :id => "username"}
      %tr
        %td
          %label{:for => "password"} Password
        %td
          %input{:type => "password", :name => "password", :id => "password"}
      %tr
        %td
          %input{:type => "submit"}
        %td
          %a.btn-primary{:type => "button", :href =>'/user/new'} Sign Up
    

  