%h1 TESTS

%div#mocha
:javascript
  $(function() {
   mocha.setup('tdd');
   
  });
  
%script{:type => 'text/javascript', :src => 'tests.js'}
:javascript
  $(function() {
  
    mocha.run();
   
  });