.titles {
  text-align: left;
  padding-left: 10px;
}

#mocha {
  background-color: rgba(32,32,32,0.75);
  padding-top: 10px;
  padding-right: 10px;

  .progress {
    background-color: rgba(0,0,0,0);
    height: auto;
    float: right;
  }

  a {
    color: auto;
  }

  h1 {
    @extend .titles;
    font-size: 27px;
  }

  h2 {
    @extend .titles;
    font-size: 25px;
  }
}

#mocha-stats {
  font-size: 1.2em;
}

#mocha-report {
  list-style-type: none;
  padding-bottom: 10px;

  li {
    list-style-type: none;
  }
}

.pass h2 {
  background-color: rgba(32,255,32,0.6);
}

.fail h2 {
  background-color: rgba(255,32,32,0.6);
}

.test h2:hover {
  cursor: pointer;
}

.error:hover {
  border-color: rgba(255,32,32,0.6);
  -webkit-transition: ease-in all 200ms;
  -moz-transition: ease-in all 200ms;
  -o-transition: ease-in all 200ms;
  -ms-transition: ease-in all 200ms;
  transition: ease-in all 200ms;
}

span.duration {
  font-size: .6em;
  margin-left: 5px;
}
