
* {
  font-family: arial;
}

body {
  background: url(../img/images.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  margin: 5px;
  color: white;
}

h1, h2 {
  color: #fff !important;
  text-align: center;
  background-color: rgba(32,32,32,0.9);
}

/* Estilos de la barra superior */

.box {
  background-color: #FFF;
  width: auto;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  -o-box-shadow: 0 0 10px#888;
  -ms-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}

#header {
  background-color: none;
  position: fixed;
  top: 0px;
  width: 100%;
}

/* Estilos del contenido */

#content {
  color: white;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 5px 25px;
  width: auto;
}

#contentleft {
  text-align: left;
  width: 49%;
  height: 500px;
  margin-right: 2%;
  float: left;
}

#contentright {
  width: 49%;
  height: 500px;
  float: right;
}

/* Lista de ficheros */

.filelist {
  background-color: white;
  color: black;
  border: solid black;
  border-width: 2px;
  padding-top: 10px;
  margin-bottom: 5px;
  height: 80%;
  width: 100%;
  float:left;
}

.filelist ul {
  list-style-type: none;
  padding: 0 15px;
}

.filelist ul li {
  cursor: pointer;
  -webkit-transition: ease-in all 200ms;
  -moz-transition: ease-in all 200ms;
  -o-transition: ease-in all 200ms;
  -ms-transition: ease-in all 200ms;
  transition: ease-in all 200ms;
}

.filelist ul li:hover {
  background-color: #2185c5;
}

.filelist ul li:active {
  background-color: #21C91D;
  -webkit-transition: ease-in all 0ms;
  -moz-transition: ease-in all 0ms;
  -o-transition: ease-in all 0ms;
  -ms-transition: ease-in all 0ms;
  transition: ease-in all 0ms;
}

/* Entrada de texto y botones */

#INPUT {
  font-family: monospace;
  font-size: 0.9em;
  color: black;
  border: solid black;
  border-width: 2px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  min-height: 80%;
  max-height: 80%;
  min-width: 100%;
  max-width: 100%;
  float:left;
}

button {
  width: 24.175%;
  height: 50px;
  background-color: #2185c5;
  background: linear-gradient(#202020, #3C3C3C);
  background: -webkit-linear-gradient(#202020, #3C3C3C);
  background: -moz-linear-gradient(#202020, #3C3C3C);
  background: -o-linear-gradient(#202020, #3C3C3C);
  border: solid black;
  border-width: 2px;
}

button:hover {
  background: linear-gradient(#373737, #5B5B5B);
  background: -webkit-linear-gradient(#373737, #5B5B5B);
  background: -moz-linear-gradient(#373737, #5B5B5B);
  background: -o-linear-gradient(#373737, #5B5B5B);
}

button:active {
  background: radial-gradient(#373737, #5B5B5B);
  background: -webkit-radial-gradient(#373737, #5B5B5B);
  background: -moz-radial-gradient(#373737, #5B5B5B);
  background: -o-radial-gradient(#373737, #5B5B5B);
}

/* Tabla de salida */
#outputdiv {
  clear: both;
  padding-top: 30px;
  width: 100%;
  height: auto;
}

#outputdiv #outputheader {
  text-align: center;
  height: 50px;
  width: 100%;
  padding-top: 12px;
  border: solid black;
  border-width: 2px;
  background: linear-gradient(#373737, #5B5B5B);
}

#outputdiv pre {
  color: white;
  height: auto;
  border: solid black;
  border-width: 2px;
  background: linear-gradient(#202020, #3C3C3C);
  background: -webkit-linear-gradient(#202020, #3C3C3C);
  background: -moz-linear-gradient(#202020, #3C3C3C);
  background: -o-linear-gradient(#202020, #3C3C3C);
}

#dragandrophandler {
	border:2px dotted #0B85A1;
	width:600px;
	color:#000;
	text-align:left;vertical-align:middle;
	padding:10px 10px 10 10px;
	margin-bottom:10px;
	font-size:200%;
	background-color: white;
	opacity:0.4;
}

#dragandrophandler:hover {
	opacity:0.8;
}

.signIn {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  background-color: #fff;
  width:300px;
}

.table {
  background-color: #fff;
  opacity:0.8;
  margin-left: 2px;
  border:2px solid #333;
  text-color:black;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
